*
      {
        box-sizing: border-box;
      }

body
      {
        color: #FFFFFF;
        font-family: sans-serif, serif;
        background-color: #750000;
      }

#wrapper
      {
        background-color: #000000;
      }

header
      {
        text-align: center;
        background-color: #222222;
      }

header a
      {
        text-decoration: none;
      }

header a:link
      {
        color: #FFFFFF;
      }

header a:visited
      {
        color: #FFFFFF;
      }

header a:hover
      {
        color: #B5B5B5;
      }

nav
      {
        font-weight: bold;
        padding: 0;
        font-size: 120%;
        text-align: center;
        position: sticky;
        top: 0;
      }


.active
      {
        color: #FF0000;
      }

nav a
      {
        text-decoration: none;
      }

nav ul
      {
        margin: 0;
        padding-left: 0;
        font-size: 1.2em;
        list-style-type: none;
        background-color: #000000;
      }

nav a:link
      {
        color: #FFFFFF;
      }

nav a:visited
      {
        color: #757575;
      }


nav a:hover
      {
        color: #B5B5B5;
      }

nav li
      {
        border-bottom: 1px solid #FFFFFF;
      }

h1
      {
        margin-bottom: 0;
        font-family: sans-serif, serif;
        margin-top: 0;
        letter-spacing: 0.25em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }

footer
      {
        font-size: 75%;
        font-style: italic;
        text-align: center;
        font-family: Georgia, "Times New Roman", serif;
        padding: 2em;
      }

footer a[href="tel:012-345-6789"]
      {
        color: #FFFFFF;
      }

footer a[href="tel:012-345-6789"]:hover
      {
        text-decoration: none;
        color: #B5B5B5;
      }

footer a[href="mailto:dwarner6@stumail.jccc.edu"]
      {
        color: #FFFFFF;
      }

footer a[href="mailto:dwarner6@stumail.jccc.edu"]:hover
      {
        text-decoration: none;
        color: #B5B5B5;
      }

.skull
      {
        background-image: url(cybersecurity.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 2em;
      }

.bg
      {
        height: 100%;
        font-size: 1.25em;
      }

.security
      {
        background-image: url(security.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 1.25em;
        text-shadow: 2px 2px 2px #000000;
      }

main p
      {
        margin-top: 0;
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 1em;
        text-align: center;
        padding-bottom: 1em;
        text-shadow: 2px 2px 2px #000000;
      }

main[class="security"] a:visited
      {
        color: #757575;
      }

main[class="security"] a:hover
      {
        text-decoration: none;
        color: #FFFFFF;
      }

main[class="security"] a:active
      {
        color: #FF0000;
      }


main[class="security"] p
      {
        margin-top: 0;
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 1.6em;
        text-align: left;
        text-indent: 1em;
        text-shadow: 2px 2px 2px #000000;
      }

#mwrap
      {
        width: 95%;
        margin: auto;
      }

#top
      {
        text-align: left;
        text-indent: 2em;
      }

#cmp
      {
        background-color: #222222;
        text-align: left;
        width: 100%;
        margin: 0;
        padding-top: 0;
      }

picture img
      {
        display: block;
      }

figure
      {
        margin: 0;
        padding: 0;
      }

.cyber
      {
        background-image: url(greencode.jpg);
        background-repeat: repeat-y;
        background-size: 100% 15%;
        height: 100%;
        font-size: 1.25em;
        box-shadow: inset 50em 0 rgba(0,0,0,.7);
      }

dl
      {
        text-shadow: 2px 2px 2px #000000;
      }

dt
      {
        margin-bottom: .5em;
      }

dd
      {
        text-indent: 2em;
        margin-bottom: 1em;
      }

dd a:link
      {
        color: #FFFFFF;
      }

dd a:visited
      {
        color: #757575
      }

dd a:active
      {
        color: #FF0000;
      }

.caimages
      {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
      }

#cimage
      {
        width: 100%;
        height: auto;
      }

#graph
      {
        height: 100%;
        width: 100%;
      }

main li
      {
        padding-bottom: .5em;
      }

#contact
      {
        list-style-type: none;
        font-size: 1.25em;
        background-color: rgba(255, 0, 0, 0.2);
        padding-top: 2em;
      }

ul[id="contact"] li
      {
        padding-bottom: 2em;
      }

ul[id="contact"] a:link
      {
        color: #FFFFFF;
      }

ul[id="contact"] a:visited
      {
        color: #757575;
      }

ul[id="contact"] a:hover
      {
        text-decoration: none;
        color: #FFFFFF;
      }

ul[id="contact"] a:active
      {
        color: #FF0000;
      }



@supports (display: grid)
      {
        form
            {
              display: grid;
              grid-template-rows: auto;
              grid-template-columns: 6em .7fr;
              gap: 2em;
              background-color: rgba(255, 0, 0, 0.2);
              padding-bottom: 2em;
              padding-top: 2em;
              padding-left: 1em;
            }

        .row
            {
              display: flex;
              flex-direction: row;
              column-gap: 1em;
              grid-column: 2/3;
            }

        input[type="submit"]
            {
              width: 10em;
            }

        input[type="reset"]
            {
              width: 10em;
            }

        input[type="submit"]:hover
            {
              outline: 1px solid #FF0000;
            }

        input[type="submit"]:active
            {
              box-shadow: inset 10em 0 rgba(0,0,0,.5);
            }

        input[type="reset"]:hover
            {
              outline: 1px solid #FF0000;
            }

        input[type="reset"]:active
            {
              box-shadow: inset 10em 0 rgba(0,0,0,.5);
            }

      }

@media (min-width: 600px)
      {
        nav ul
              {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
              }

        nav li
              {
                border-bottom: none;
              }

        main p
              {
                margin-top: 0;
                margin-left: 10%;
                margin-right: 10%;
                padding-top: 3.25em;
                text-align: center;
                font-size: 100%;
                text-shadow: 2px 2px 2px #000000;
              }

        .skull
              {
                background-image: url(cybersecurity.jpg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 10em;
                font-size: 2em;
              }

        #top
              {
                  margin-top: 0;
                  padding-top: 1em;
                  text-align: justify;
                  text-shadow: 2px 2px 2px #000000;
                  text-indent: 2em;
              }

        dl
              {
                text-shadow: 2px 2px 2px #000000;
                margin-right: 10%;
                margin-left: 10%;
              }
      }

@media (min-width: 1024px)
      {
        #wrapper
              {
                margin: auto;
                width: 80%;
              }

        nav
              {
                text-align: left;
                padding-left: 1em;
              }

        main
              {
                padding: 0;
                margin: 0;
              }

        main p
              {
                margin-top: 0;
                margin-left: 25%;
                margin-right: 25%;
                padding-top: 4em;
                text-align: center;
                text-shadow: 2px 2px 2px #000000;
              }

        .skull
              {
                background-image: url(cybersecurity.jpg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 13em;
                font-size: 2em;
              }

        .cyber
              {
                background-image: url(greencode.jpg);
                background-repeat: repeat-y;
                background-size: 100% 15%;
                height: 100%;
                font-size: 1.25em;
                box-shadow: inset 50em 0 rgba(0,0,0,.7);
              }

        #top
              {
                  margin-top: 0;
                  margin-left: 12%;
                  margin-right: 12%;
                  padding-top: 1em;
                  text-align: justify;
                  text-shadow: 2px 2px 2px #000000;
                  text-indent: 2em;
              }

        dl
              {
                margin-left: 10%;
                margin-right: 10%;
                text-shadow: 2px 2px 2px #000000;
              }

        dt
              {
                margin-bottom: .5em;
              }

        dd
              {
                text-indent: 2em;
                margin-bottom: 1em;
              }

        .cash
              {
                background-image: url(cash.jpeg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 13em;
                font-size: 2em;
              }

        @supports (display: grid)
          {
            nav ul
                  {
                    flex-direction: column;
                    padding-top: 1em;
                    position: sticky;
                    top: 0;
                  }

            header
                  {
                    grid-area: header;
                  }

            nav
                  {
                    grid-area: nav;
                  }

            main
                  {
                    grid-area: main;
                  }

            footer
                  {
                    grid-area: footer;
                  }

            #wrapper
                  {
                    display: grid;
                    grid-template:
                      "header header" auto
                      "main nav" auto
                      "footer nav" auto
                      / 1fr 180px;
                  }
          }
      }
